doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../dist/css/app.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block logo
    block content
    block chat
    img.img__imd(src="/images/imd_logo.png", alt="imd")
    
