doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block logo
    block content
    block chat
    img.img__imd(src="/images/imd_logo.png", alt="imd")
    
