extends layout

block content
    .container
        h1 Log In
        div.alert
        form(method='POST' action='/login')
          div.form-group
            label(for='username') Username
            input(type='text' id='login_username' name='username')
          div.form-group
            label(for='password') Password
            input(type='password' id='login_password' name='password')
          button(type='submit' id="login_button") Log in
        p No registered user yet?  
          a(href='signup') Sign up here