extends layout

block content
  .main.container
        h1 Sign up
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input(type='password' id='password' placeholder='password' name='password')
          button(type='submit') Sign up
        p Already logged in before? Log in 
          a(href='login') here!