body {
  padding: 0px 0px 0px 20px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #65C6E5;
  color: white;
}
.logo{
  width: 100px;
  margin-top: 20px;
}
.content{
  display: grid;
  grid-template-columns: 70% 20%;
  grid-column-gap: 10%;
  height: 75vh;
}
.chatbox {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  overflow-y: scroll;
  grid-auto-rows: max-content;
}
.questionbox{
  background-color: whitesmoke;
  color: dimgray;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 50% 50%;
  height: 60px;
}
.questionbox--awnser{
  background-color: #95EBF7;
}
.questionbox--user{
  grid-column-start: 2;
}
.questionbox__img{
  grid-row-start: 1;
  grid-row-end: 3;
  height: 50px;
  padding: 5px;
}
.questionbox__username{
  font-weight: bold;
}
.user{
  background-color: whitesmoke;
  color: dimgray;
  border-radius: 0.5em 0px 0px 0.5em;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 60px;
  align-items: center;
  margin-top: 10px;
}
.user__img{
  height: 50px;
  padding: 5px;
}

.chat{
  display: grid;
  grid-template-columns: 80% 18%;
  grid-gap: 10px;
  bottom: 10px;
  margin-top: 20px;
  height: 10vh;
  width: 70%;
}

.chat--input{
  width: 98%;
  height: 40px;
  border-radius: 10px;
  padding: 5px 5px 5px 15px;
  background-color: #59AAC4;
  color: white;
  border-width: 0;
}
::placeholder{
  color: white;
}
.chat--submit{
  width: 98%;
  height: 50px;
  border-radius: 10px;
  background-color: #59AAC4;
  border-width: 0;
  color: white;
  font-weight: bold;
}
.chat--submit:active{
  background-color: #95EBF7;
  color: dimgray;
}
p{
  margin: 5px;
}
.img__imd{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99;
}
@media screen and (max-width: 450px){
body{
  height:200vh;
}
.content {
    grid-template-columns: 95%;
    grid-template-rows:74%;
    height: 100vh;
    grid-row-gap:13%;
}
.chatbox {
    grid-template-columns: 100%;
}
.questionbox{
  grid-template-columns:20% 80%;
}
.questionbox--user{
  grid-column-start: 1;
}
.logo{
  margin-bottom:20px;
}
.chat{
  position:absolute;
  grid-template-columns:75% 25%;
  width:85%;
}
.chat--input{
  background-color:#95EBF7;
  color:dimgray;
  width: 90%;
}
.chat--submit{
  background-color:#95EBF7;
  color:dimgray;
}
.chat--submit:hover{
  background-color:white;
}
::placeholder{
  color:dimgray;
}
.img__imd{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -99;
}
}